
.sidebar {
    width: 250px;
    position: absolute;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #343a40;
    color: #6c757d;
    transition: all 0.3s;
}

.boxes{
    border-style: solid;
    border-color: black;
    -webkit-text-fill-color:white;
    text-align: center;
    height: 100px;
}
.another{
    position: absolute;
    left:250px;
    width: 80.2%;
    
}